.App {
  text-align: center;
}

li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
}

ul {
  margin: 1em;
  padding: 0
}

.react-datalist-input {
  padding: 1em;
  margin-top: 2em;
  width: 50%;
}
